@mixin dfr-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin dfr-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin dfc-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
