@import "../../styles/mixins.scss";

.navbar-container {
  .toolbar {
    @include dfr-space-between;
    background-color: #fff;

    .toolbar-title {
      @include dfr-space-between;

      img {
        height: 40px;
        width: 40px;
        padding: 10px;
      }
    }

    .toolbar-actions {
      @include dfr-space-between;
    }
  }
}
